name: Trigger PAM Deploy

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  trigger-pam-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger PAM Deploy Workflow
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.TRIGGER_TOKEN }} 
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: 'a81Biz',
              repo: 'PAM',
              workflow_id: 'main.yml',
              ref: 'master'
            }) 
